<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Signin</servlet-name>
        <servlet-class>Signin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddtoCartServlet</servlet-name>
        <servlet-class>AddtoCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSignin</servlet-name>
        <servlet-class>AdminSignin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyServlet</servlet-name>
        <servlet-class>BuyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveFromCartServlet</servlet-name>
        <servlet-class>RemoveFromCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Signin</servlet-name>
        <url-pattern>/Signin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddtoCartServlet</servlet-name>
        <url-pattern>/AddtoCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSignin</servlet-name>
        <url-pattern>/AdminSignin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyServlet</servlet-name>
        <url-pattern>/BuyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveFromCartServlet</servlet-name>
        <url-pattern>/RemoveFromCartServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
